@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0  ;
    padding: 0;    
}

.inicio{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    background-image: url("../img/1.png");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: right;
}

.titulo{
    font-size: 5rem;
}

.sketches{
    margin: 20px;
}

.sketches img{
    height: 400px;
    width: 600px;
}

.tx{
    font-family: 'Gloria Hallelujah', cursive;
}